{% extends 'clergy_reg/base.html' %}
{% include 'clergy_reg/head.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container" id="page-content"
    style="background: url('{% static 'assets/img/Untitled-1jj.png' %}'); background-size: contain;">
    <h3 class="text-light text-bg-primary mb-4">
        <strong>Clergy Details for {{ clergy.first_name }}  {{clergy.last_name}}</strong>
    </h3>
    <form method="post" >
        {% csrf_token %}
        <input type="hidden" id="clergy_id" name="clergy_id" value="{{ clergy_id }}">
        <!-- {{ form.as_p }} -->
        
        <div class="row mb-3">
            <div class="col-10 col-sm-10" style="width: 100%;">
                <div>
                    <div class="col-11 col-md-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">IDENTITIES</p>
                            </div>
                            
                            <div class="card-body">
                                <div class="picBg row d-flex justify-content-center">
                                    <div class="col-md-8 mt-2 ">
                                        <div class="card text-center mb-3">
                                            <div class="card-body shadow">
                                                <img class="rounded-top-circle   mt-2" id="profileImage"
                                                    src="{{ clergy.profile_picture.url }}"
                                                    width="200" height="200">
                                                <div class="mb-3">
                                                    
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mt-2 ">

                                        <div class="mb-3">
                                            <label class="form-label" for="reg_number"><strong>Clergy
                                                    Registration Number</strong></label>
                                            <input type="text" id="reg_number" class="form-control" name="reg_number" value="{{ clergy.reg_number }}" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="trg_number"><strong>TRG
                                                    NO.</strong></label>
                                                    <input type="text" class="form-control" id="reg_number" name="reg_number" value="{{ clergy.trg_number }}" readonly>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-11 col-md-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">BIO DATA</p>
                            </div>
                            <div class="card-body">

                                <div class="row row-cols-1 row-cols-md-1">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="first_name"><strong>First
                                                    Name</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.first_name }}" readonly>
                                                
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="middle_name"><strong>Middle
                                                    Name</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.middle_name }}" readonly>
                                                
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="last_name"><strong>Last
                                                    Name</strong></label>
                                            
                                                    <input type="text" class="form-control" value="{{ clergy.last_name}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="alais"><strong>Alias (if
                                                    Any)</strong></label>
                                            
                                                    <input type="text" class="form-control" value="{{ clergy.alias }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="gender"
                                                style="font-weight: bold;">Gender</label>
                                            
                                                <input type="text" class="form-control" value="{{ clergy.get_gender_display }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="marital_status"
                                                style="font-weight: bold;">Marital Status</label>
                                            
                                                <input type="text" class="form-control" value="{{ clergy.get_marital_status_display}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="dob"
                                                style="font-weight: bold;">Date of Birth</label>
                                                <input type="text" class="form-control" value="{{ clergy.dob }}" readonly>
                                                </div>
                                                
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="spoken_language"
                                                style="font-weight: bold;">Spoken Language(s)</label>
                                                <input type="text" class="form-control" value="{{ clergy.spoken_languages}}" readonly>
                                        </div>

                                    </div>
                                        
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="place-of-birth"
                                                style="font-weight: bold;">Place of
                                                Birth</label>

                                                <input type="text" class="form-control" value="{{ clergy.place_of_birth }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="country"
                                                style="font-weight: bold;">Nationality</label>
                                                <input type="text" class="form-control" value="{{ clergy.nationality }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="state"
                                                style="font-weight: bold;">State of
                                                Origin</label>
                                                <input type="text" class="form-control" value="{{ clergy.state_of_origin }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="lga"
                                                style="font-weight: bold;">LGA(If
                                                Nigerian)</label>
                                                <input type="text" class="form-control" value="{{ clergy.lga_if_nigerian }}" readonly>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-11 col-md-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Medical Details</p>
                            </div>
                            <div class="card-body">

                                <div class="row row-cols-1 row-cols-md-1">
                                    <div class="col"><label class="form-label"
                                            for="blood_group"><strong>Blood Group</strong></label>
                                            <input type="text" class="form-control" value="{{ clergy.get_blood_group_display }}" readonly>
                                    </div>
                                    <div class="col"><label class="form-label"
                                            for="genotype"><strong>Genotype</strong></label>
                                            <input type="text" class="form-control" value="{{ clergy.get_genotype_display }}" readonly>
                                    </div>
                                    <div class="col"><label class="form-label" for="ailment"><strong>Any Ailment?</strong></label>
                                        <input type="text" class="form-control" value="{{ clergy.get_any_ailment_display }}" readonly>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" value="{{ clergy.ailment }}" readonly>
                                    </div>
                                    <div class="col"><label class="form-label" for="disability"><strong>Any Disability?</strong></label>
                                        <input type="text" class="form-control" value="{{ clergy.get_any_disabilities_display }}" readonly>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" value="{{ clergy.disability }}" readonly>
                                    </div>
                                </div>
                               


                            </div>
                        </div>
                    </div>
                    <div class="col-11 col-md-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Contacy Information/Address</p>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="permanent-address"><strong>Permanent
                                                    Address:</strong></label><input type="text" class="form-control" value="{{ clergy.permanent_address }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="resident-address"><strong>Resident
                                                    Address:</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.resident_address }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="parish"><strong>Parish
                                                    :</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.parish }}" readonly>
                                                </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="parish-address"><strong>Parish
                                                    Address:</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.parish_address }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="phone"><strong>Telephone(s):</strong></label>
                                                
                                                <input type="text" class="form-control" value="{{ clergy.telephone }}" readonly>
                                            
                                            </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="email"><strong>Email
                                                    Address:</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.email_address }}" readonly>
                                                </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Faith Background</p>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="former religion"><strong>Former
                                                    Religion</strong></label><input type="text" class="form-control" value="{{ clergy.former_religion }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="denomination"><strong>Denomination</strong></label><input type="text" class="form-control" value="{{ clergy.denomination }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="status in former religion"><strong>Status
                                                    in Former
                                                    Religion:</strong></label><input type="text" class="form-control" value="{{ clergy.status_former_religion }}" readonly>
                                        <div>
                                    </div>
                                </div>
                                <div class="row row-cols-1">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="entrydate"><strong>Date of
                                                    Membership into CCC
                                                    :</strong></label><input type="text" class="form-control" value="{{ clergy.entry_date_in_ccc }}" readonly></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="first parish"><strong>Name of first
                                                    parish into CCC
                                                    :</strong></label><input type="text" class="form-control" value="{{ clergy.first_parish }}" readonly></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="name-of-shephard-who-santified-you"><strong>Name of
                                                    Shepherd who sanctified you:</strong></label><input type="text" class="form-control" value="{{ clergy.shepherd_who_sanctified_you }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="baptized"><strong>Name of Shepherd
                                                    who baptized
                                                    you:</strong></label><input type="text" class="form-control" value="{{ clergy.shepherd_who_sanctified_you }}" readonly></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="baptizedDate"><strong>Date when
                                                    baptized:</strong></label><input type="text" class="form-control" value="{{ clergy.date_when_baptized }}" readonly></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="parish when baptized"><strong>Parish where
                                                    baptized:</strong></label><input type="text" class="form-control" value="{{ clergy.parish_where_baptized}}" readonly></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="first_annointment"><strong>First
                                                    Annointment:</strong></label><input type="text" class="form-control" value="{{ clergy.get_first_annointment_display }}" readonly></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="date_of_first_annointment"><strong>Date of
                                                    First
                                                    Anointment:</strong></label><input type="text" class="form-control" value="{{ clergy.date_of_first_annointment }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class=""><label class="form-label"
                                                for="presentAnnointment"><strong>Present
                                                    Anointment:</strong></label></div><input type="text" class="form-control" value="{{ clergy.present_annointment }}" readonly>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"
                                                for="date_of_present_annointment"><strong>Date
                                                    of
                                                    Present Anointment:</strong></label><input type="text" class="form-control" value="{{ clergy.date_of_present_annointment }}" readonly>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Educational Background</p>
                            </div>
                            <div class="card-body">

                                <div class="row row-cols-2">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" 
                                                style="font-weight: bold;">Educational Level</label>
                                                <input type="text" class="form-control" value="{{ clergy.get_edu_level_display }}" readonly>

                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                style="font-weight: bold;">Educational Qualifications</label>
                                                <input type="text" class="form-control" value="{{ clergy.edu_qualification }}" readonly>

                                        </div>

                                    </div>
                        </div>
                        

                                    <div class="row row-cols-1">
                                        <div class="col">
                                            <label class="form-label" for="apprentice"
                                                style="margin-bottom: 0px;"><strong>Apprenticeship</strong></label>
                                                <input type="text" class="form-control" value="{{ clergy.apprenticeship }}" readonly>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1">
                                        <div class="col-xl-11"
                                            style="padding: 0px;padding-right: 2px;margin-top: 23px;margin-left: 7px;">
                                            <label class="form-label" for="hobbies"
                                                style="margin-bottom: 0px;"><strong>Hobbies</strong></label>
                                                <input type="text" class="form-control" value="{{ clergy.hobbies }}" readonly>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for=""
                                                    style="font-weight: bold;">Area of Calling</label>
                                                    <input type="text" class="form-control" value="{{ clergy.area_of_calling }}" readonly>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Working Experience</p>
                            </div>
                            <div class="card-body">

                                <div class="row row-cols-1">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="workingExperience"
                                                style="margin-bottom: 0px;"><strong>Working
                                                    Experience?</strong></label>
                                                    <input type="text" class="form-control" value="{{ clergy.working_experience_option }}" readonly>
                                        </div>
                                        <textarea type="text" class="form-control" readonly>{{ clergy.work_experience_ifyes }}</textarea>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-11 col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Relations</p>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label" for="spouse"
                                            style="margin-bottom: 0px;"><strong>Spouse</strong></label>
                                            <input type="text" class="form-control" value="{{ clergy.spouse }}" readonly>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label" for="father"
                                            style="margin-bottom: 0px;"><strong>Father</strong></label>
                                            <input type="text" class="form-control" value="{{ clergy.father }}" readonly>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label" for="mother"
                                            style="margin-bottom: 0px;"><strong>Mother</strong></label>
                                            <input type="text" class="form-control" value="{{ clergy.mother }}" readonly>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label" for="relation"
                                            style="margin-bottom: 0px;"><strong>Relation in
                                                CCC</strong></label>
                                                <input type="text" class="form-control" value="{{ clergy.relation_in_ccc }}" readonly>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label" for="kin"
                                            style="margin-bottom: 0px;"><strong>Next of
                                                Kin</strong></label>
                                                <input type="text" class="form-control" value="{{ clergy.next_of_kin }}" readonly>
                                    </div>
                                    
                                    <div class="mb-3 d-flex flex-column">
                                        <label class="form-label" for="children_info"><strong>Children</strong></label>
                                        <textarea type="text" class="form-control" rows="4" cols="40"  readonly>{{ clergy.children_info }}</textarea>
                                    </div>
                                    
                                    
                                    <div class="m-3"><ul id="id_children_list" class="d-flex flex-column"></ul></div>
                                        

                                <div class="mb-3 d-flex justify-content-center "><button
                                        class="btn btn-primary btn-l" name="submit_form"
                                        type="submit">Submit&nbsp;</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}