{% extends 'ParishRestructure/base.html' %}
{% include 'ParishRestructure/head.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h3 class="text-light text-bg-primary mb-4">
                <strong>ADD LOCATION DETAILS</strong>
        </h3>
        <div class="card">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <div>
                            <label for="parish_name" class="form-label">Name</label>
                            {% render_field form.name class="form-control" %}
                        </div>
                        <div>
                            <label for="parish_address" class="form-label">Select Parent</label>
                            {% render_field form.parent class="form-control" %}
                        </div>
                        <div>
                            <label for="parish_address" class="form-label">Select Level</label>
                            {% render_field form.level class="form-select " %}
                        </div>
                    </div>
                    <button type="submit"  value="Submit" class="btn btn-primary mt-3">Submit</button>
                    <a href="{% url 'parish_dashboard' %}" class="btn btn-danger  mt-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
