{% extends 'clergy_reg/base.html' %}
{% include 'clergy_reg/head.html' %}
{% load static %}
{% load widget_tweaks %}

              {% block content %}  
                <div class="container" id="page-content"
                    style="background: url('{% static 'assets/img/Untitled-1jj.png' %}'); background-size: contain;">
                    <h3 class="text-light text-bg-primary mb-4">
                        <strong>CLERGY REGISTRATION</strong>
                    </h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="clergy_id" name="clergy_id" value="{{ clergy_id }}">
                        <!-- {{ form.as_p }} -->
                        
                        <div class="row mb-3">
                            <div class="col-10 col-sm-10" style="width: 100%;">
                                <div>
                                    <div class="col-11 col-md-12">
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">IDENTITIES</p>
                                            </div>
                                            
                                            {% if form.errors %}
                                            <div class="alert alert-danger">
                                                <strong>There were errors in your form:</strong>
                                                <ul>
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {% for error in form.non_field_errors %}
                                                        <li><strong>Non-field error:</strong> {{ error|escape }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        
                                                    
                                            
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="card text-center mb-3">
                                                            <div class="card-body shadow">
                                                                <img class="rounded-circle mb-3 mt-4" id="profileImage"
                                                                    src="{% static 'assets/img/User/circled_user_male_skin_type_5_480px.png' %}"
                                                                    width="100" height="auto">
                                                                <div class="mb-3">
                                                                    <label for="id_profile_picture" class="btn btn-primary btn-sm">
                                                                        Change Photo
                                                                        {{form.profile_picture|attr:"type:file"|attr:"style: display:none;" }}
                                                                        <!-- This is for Camera -->
                                                                        <!-- <input type="file" accept="image/*" capture="camera" name="image"> -->
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="reg_number"><strong>Clergy
                                                                    Registration Number</strong></label>
                                                            <!-- <input class="form-control" type="text" id="username"
                                                                placeholder="Registration Number" name="reg_number"> -->
                                                                {% render_field form.reg_number class="form-control" placeholder="Registration Number" %}
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label" for="trg_number"><strong>TRG
                                                                    NO.</strong></label>
                                                            <!-- <input class="form-control" type="number" id="email"
                                                                name="trg_number"> -->
                                                                {% render_field form.trg_number class="form-control" %}
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-11 col-md-12">
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">BIO DATA</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row row-cols-1 row-cols-md-1">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="first_name"><strong>First
                                                                    Name</strong></label>
                                                            
                                                                {% render_field form.first_name class="border rounded border-2 form-control" placeholder="Joe" %}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="middle_name"><strong>Middle
                                                                    Name</strong></label>
                                                            
                                                                {% render_field form.middle_name class="border rounded border-2 form-control" placeholder="Middle Name" %}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="last_name"><strong>Last
                                                                    Name</strong></label>
                                                            
                                                                {% render_field form.last_name class="border rounded border-2 form-control" placeholder="Doe" %}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="alais"><strong>Alias (if
                                                                    Any)</strong></label>
                                                           
                                                                {% render_field form.alias class="border rounded border-2 form-control" %}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="gender"
                                                                style="font-weight: bold;">Gender</label>
                                                            
                                                            {{ form.gender|add_class:"border rounded border-2 form-select" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="marital_status"
                                                                style="font-weight: bold;">Marital Status</label>
                                                            
                                                            {{ form.marital_status|add_class:"border rounded border-2 form-select" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="dob"
                                                                style="font-weight: bold;">Date of Birth</label>
                                                            {{ form.dob|add_class:"border rounded border-2 form-control "|attr:"type:date" }}
                                                              </div>
                                                              
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="spoken_language"
                                                                style="font-weight: bold;">Spoken Language(s)</label>
                                                            <button
                                                                class="form-select  text-start border rounded border-2"
                                                                id="spoken_language" type="button"
                                                                data-bs-toggle="dropdown" aria-expanded="true"
                                                                data-bs-target="#dropdownMenu">Select Options</button>
                                                            <div class="dropdown">
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <div class="form-check">
                                                                       {{ form.spoken_languages }}

                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                        
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="place-of-birth"
                                                                style="font-weight: bold;">Place of
                                                                Birth</label>

                                                                {{ form.place_of_birth|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="country"
                                                                style="font-weight: bold;">Nationality</label>
                                                                {{ form.nationality|add_class:"border rounded border-2 form-select" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="state"
                                                                style="font-weight: bold;">State of
                                                                Origin</label>
                                                            {{form.state_of_origin|add_class:"border rounded border-2 form-control"}}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="lga"
                                                                style="font-weight: bold;">LGA(If
                                                                Nigerian)</label>
                                                            {{form.lga_if_nigerian|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-11 col-md-12">
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Medical Details</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row row-cols-1 row-cols-md-1">
                                                    <div class="col"><label class="form-label"
                                                            for="blood_group"><strong>Blood Group</strong></label>
                                                            {{ form.blood_group|add_class:"border rounded border-2 form-select" }}
                                                    </div>
                                                    <div class="col"><label class="form-label"
                                                            for="genotype"><strong>Genotype</strong></label>
                                                            {{ form.genotype|add_class:"border rounded border-2 form-select" }}
                                                    </div>
                                                    <div class="col"><label class="form-label" for="ailment"><strong>Any Ailment?</strong></label>
                                                        {{ form.any_ailment|add_class:"border rounded border-2 form-select" }}
                                                    </div>
                                                    <div class="col"><label class="form-label" for="disability"><strong>Any Disability?</strong></label>
                                                        {{ form.any_disabilities|add_class:"border rounded border-2 form-select" }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col">
                                                        {% render_field form.ailment class="border rounded border-2 form-control mt-2" placeholder="If any Ailment, kindly specify" %}
                                                        {% render_field form.disability class="border rounded border-2 form-control mt-2" placeholder="If any Disability, kindly specify" %}
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-11 col-md-12">
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Contacy Information/Address</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="permanent-address"><strong>Permanent
                                                                    Address:</strong></label>{{ form.permanent_address|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="resident-address"><strong>Resident
                                                                    Address:</strong></label>
                                                                {{ form.resident_address|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="parish"><strong>Parish
                                                                    :</strong></label>
                                                                {{ form.parish|add_class:"border rounded border-2 form-control" }}
                                                                </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="parish-address"><strong>Parish
                                                                    Address:</strong></label>
                                                                {{ form.parish_address|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="phone"><strong>Telephone(s):</strong></label>
                                                                
                                                                {{form.telephone |add_class:"border rounded border-2 form-control"|attr:"type:tel"|append_attr:"inputmode:tel"|attr:"id:phone" }}
                                                            
                                                            </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="email"><strong>Email
                                                                    Address:</strong></label>
                                                                    {% render_field form.email_address class="border rounded border-2 form-control" placeholder="name@email.com" %}
                                                                </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Faith Background</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="former religion"><strong>Former
                                                                    Religion</strong></label>{{ form.former_religion|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="denomination"><strong>Denomination</strong></label>{{ form.former_religion|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="status in former religion"><strong>Status
                                                                    in Former
                                                                    Religion:</strong></label>{{ form.status_former_religion|add_class:"border rounded border-2 form-control" }}
                                                        <div>
                                                    </div>
                                                </div>
                                                <div class="row row-cols-1">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="entrydate"><strong>Date of
                                                                    Membership into CCC
                                                                    :</strong></label>{{ form.entry_date_in_ccc|add_class:"border rounded border-2 form-control"|attr:"type:date" }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="first parish"><strong>Name of first
                                                                    parish into CCC
                                                                    :</strong></label>{{ form.first_parish|add_class:"border rounded border-2 form-control" }}</div>
                                                    </div>
                                                </div>
                                                <div class="row row-cols-1">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="name-of-shephard-who-santified-you"><strong>Name of
                                                                    Shepherd who sanctified you:</strong></label>{{ form.shepherd_who_sanctified_you|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="baptized"><strong>Name of Shepherd
                                                                    who baptized
                                                                    you:</strong></label>{{ form.shepherd_who_baptized_you|add_class:"border rounded border-2 form-control" }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="baptizedDate"><strong>Date when
                                                                    baptized:</strong></label>.{{ form.date_when_baptized|add_class:"border rounded border-2 form-control"|attr:"type:date" }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="parish when baptized"><strong>Parish where
                                                                    baptized:</strong></label>{{ form.parish_where_baptized|add_class:"border rounded border-2 form-control" }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="first_annointment"><strong>First
                                                                    Annointment:</strong></label>{{ form.first_annointment|add_class:"border rounded border-2 form-select" }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="date_of_first_annointment"><strong>Date of
                                                                    First
                                                                    Anointment:</strong></label>{{ form.date_of_first_annointment|add_class:"border rounded border-2 form-control"|attr:"type:date" }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class=""><label class="form-label"
                                                                for="presentAnnointment"><strong>Present
                                                                    Anointment:</strong></label></div>{{ form.present_annointment|add_class:"border rounded border-2 form-select" }}
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label"
                                                                for="date_of_present_annointment"><strong>Date
                                                                    of
                                                                    Present Anointment:</strong></label>{{ form.date_of_present_annointment|add_class:"border rounded border-2 form-control"|attr:"type:date" }}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Educational Background</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row row-cols-2">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="spoken_language"
                                                                style="font-weight: bold;">Educational Level</label>
                                                            <button
                                                                class="form-select  text-start border rounded border-2"
                                                                id="spoken_language" type="button"
                                                                data-bs-toggle="dropdown" aria-expanded="true"
                                                                data-bs-target="#dropdownMenu">Select Options</button>
                                                            <div class="dropdown">
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <div class="form-check">
                                                                       {{ form.edu_level }}

                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="spoken_language"
                                                                style="font-weight: bold;">Educational Qualifications</label>
                                                            <button
                                                                class="form-select  text-start border rounded border-2"
                                                                id="spoken_language" type="button"
                                                                data-bs-toggle="dropdown" aria-expanded="true"
                                                                data-bs-target="#dropdownMenu">Select Options</button>
                                                            <div class="dropdown">
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <div class="form-check">
                                                                       {{ form.edu_qualification }}

                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                        </div>
                                        

                                                    <div class="row row-cols-1">
                                                        <div class="col">
                                                            <label class="form-label" for="apprentice"
                                                                style="margin-bottom: 0px;"><strong>Apprenticeship</strong></label>
                                                            {{ form.apprenticeship|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="row row-cols-1">
                                                        <div class="col-xl-11"
                                                            style="padding: 0px;padding-right: 2px;margin-top: 23px;margin-left: 7px;">
                                                            <label class="form-label" for="hobbies"
                                                                style="margin-bottom: 0px;"><strong>Hobbies</strong></label>
                                                                {{ form.hobbies|add_class:"border rounded border-2 form-control" }}
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for=""
                                                                    style="font-weight: bold;">Area of Calling</label>
                                                                <button
                                                                    class="form-select  text-start border rounded border-2"
                                                                    id="spoken_language" type="button"
                                                                    data-bs-toggle="dropdown" aria-expanded="true"
                                                                    data-bs-target="#dropdownMenu">Select Options</button>
                                                                <div class="dropdown">
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <div class="form-check">
                                                                           {{ form.area_of_calling }}
    
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
    
                                                            </div>
    
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Working Experience</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row row-cols-1">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="workingExperience"
                                                                style="margin-bottom: 0px;"><strong>Working
                                                                    Experience?</strong></label>
                                                            {{ form.working_experience_option|add_class:"border rounded border-2 form-select" }}
                                                        </div>
                                                        {% render_field form.work_experience_ifyes class="border rounded border-2 form-control" placeholder="if yes , Input your work Experience here" %}
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-11 col-sm-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Relations</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="col">
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label" for="spouse"
                                                            style="margin-bottom: 0px;"><strong>Spouse</strong></label>
                                                            {{ form.spouse|add_class:"border rounded border-2 form-control" }}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label" for="father"
                                                            style="margin-bottom: 0px;"><strong>Father</strong></label>
                                                            {{ form.father|add_class:"border rounded border-2 form-control" }}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label" for="mother"
                                                            style="margin-bottom: 0px;"><strong>Mother</strong></label>
                                                            {{ form.mother|add_class:"border rounded border-2 form-control" }}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label" for="relation"
                                                            style="margin-bottom: 0px;"><strong>Relation in
                                                                CCC</strong></label>
                                                                {{ form.relation_in_ccc|add_class:"border rounded border-2 form-control" }}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label" for="kin"
                                                            style="margin-bottom: 0px;"><strong>Next of
                                                                Kin</strong></label>
                                                                {{ form.next_of_kin|add_class:"border rounded border-2 form-control" }}
                                                    </div>
                                                    
                                                    <div class="mb-3 d-flex flex-column">
                                                        <label class="form-label" for="children_info"><strong>Children</strong></label>
                                                        <div class="input-group">
                                                            <!-- {% render_field form.children_info|add_class:"border rounded border-2 form-control"|append_attr:"aria_label:'Children'"|attr:"placeholder:Input Child(s) name" %} -->
                                                            <input type="text" id="childrenInput" class="border rounded border-2 form-control" placeholder="Input Child(s) name" aria-label="Children">
                                                            <button class="btn btn-primary" type="button" onclick="addChildren()">Add</button>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="m-3"><ul id="id_children_list" class="d-flex flex-column"></ul></div>
                                                    {% render_field form.children_info class="border rounded border-2 form-control" %}
                                                      

                                                <div class="mb-3 d-flex justify-content-center mt-4 "><button
                                                        class="btn btn-success btn-lg " name="submit_form"
                                                        type="submit">SAVE&nbsp;</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            
            {% endblock %}
                            <!-- <footer class="bg-white sticky-footer" style="height: 80px;">
                                <div class="container my-auto" style="height: 52px;">
                                    <div class="text-center my-auto copyright">
                                        <span>Office of the Pastor © CCC
                                            <script>document.write(new Date().getFullYear())</script>
                                        </span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </form>
                </div>
                <a class="border rounded d-inline scroll-to-top" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
            </div>
              
            <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'assets/js/bs-init.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
            <script src="{% static 'assets/js/number.js' %}"></script>
            <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html> -->