{% extends 'clergy_reg/base.html' %}
{% include 'clergy_reg/head.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container" 
    style="background: url('{% static 'assets/img/Untitled-1jj.png' %}'); background-size: contain;">
    <h3 class="text-light text-bg-primary mb-4">
        <strong>Clergy Details for {{ clergy.first_name }}  {{clergy.last_name}}</strong>
    </h3>
    <div class="cardd"
    <div class="card-body">
        <div class="picBg row d-flex justify-content-center">
            <div class="col-md-8 mt-2 ">
                <div class="card text-center mb-3">
                    <div class="card-body shadow">
                        <img class="rounded-top-circle   mt-2" id="profileImage"
                            src="{{ clergy.profile_picture.url }}"
                            width="200" height="200">
                        <div class="mb-3">
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered  clergyTable" id="clergyTable" style="width:100%">
                    
                    <thead>
                        <tr>
                            <th colspan="2" style=" font-size: 20px; color: blue; font-style: italic;"> DETAILS FOR {{ clergy.first_name }}  {{clergy.last_name}}</th>
                        </tr>
                        <tr>
                            <th scope="col" class="fw-light " >Field Name</th>
                            <th scope="col" class="fw-light " >Value</th>
                        </tr>
                        
                    </thead>
                    <tbody> 
                    {% for field in form %}
                      <tr>
                        <td class="fw-bold " style="text-align: left;">{{ field.label }}</td>
                        <td style="text-align: left;">{{ field.value }}</td>
                      </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
              
        </div>
    </div>
</div>
{% endblock %}