{% extends 'ParishRestructure/base.html' %}
{% include 'ParishRestructure/head.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h3 class="text-light text-bg-primary mb-4">
                <strong>PARISH DIRECTORY</strong>
        </h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
            {% if parishes %}
            
                
                <div class="row justify-content-center align-items-start">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered clergyTable" id="allparish">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th class="text-center">Parish Name</th>
                                                <th class="text-center">Parish Address</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for parish in parishes %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td class="text-center">CCC {{ parish.name }}</td>
                                                    <td class="text-center">{{ parish.address }}</td>
                                                    <td>
                                                        {% if parish.register_status %}
                                                        <span class="badge text-bg-success text-white ">Registered</span>
                                                        {% else %}
                                                        <div class="badge text-bg-danger">Not Registered</div>
                                                        <div><a href="{% url 'reg-old-parish' %}">Register</a></div>
                                                        {% endif %}
                                                    </td>
                                                   <td>
                                                    <div style="display: flex">
                                                        <a href="{% url 'edit-parish' parish.id %}" title="Edit Parish" class="btn btn-primary  btn-sm"><i class="fa-solid fa-pen-to-square fa-xs"></i></a>
                                                        <a href="{% url 'view_parish' parish.id %}" title="View Parish" class="btn btn-primary mx-2  btn-sm"><i class="fa-solid fa-eye fa-xs"></i></a>
                                                        <a href="{% url 'delete_parish' parish.id %}" title="Delete" onclick="return confirm('Are you sure you want to delete this parish? ')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash fa-xs"></i></a>
                                                    </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                
            

            {% endif %}
                  
        <div class="row justify-content-end">
            <a href="{% url 'parish_dashboard' %}" class="btn btn-primary mt-3">Back</a>
        </div>
    </div>

    
{% endblock %}

